<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserAuthorizationFilter</filter-name>
        <filter-class>Filter.UserAuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/SubjectLessonController</url-pattern>
        <url-pattern>/LessonController</url-pattern>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/my_course</url-pattern>
        <url-pattern>/sliders_list_controller</url-pattern>
        <url-pattern>/class_detail_controller</url-pattern>
        <url-pattern>/pie_chart_controller</url-pattern>
        <url-pattern>/LessonViewController</url-pattern>
        
    </filter-mapping>
    <servlet>
        <servlet-name>AddSettingController</servlet-name>
        <servlet-class>controller.Admin.AddSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSettingController</servlet-name>
        <servlet-class>controller.Admin.DeleteSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>controller.Admin.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>controller.Admin.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListController</servlet-name>
        <servlet-class>controller.Admin.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailController</servlet-name>
        <servlet-class>controller.Admin.PostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailsController</servlet-name>
        <servlet-class>controller.Admin.SettingDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListHomeController</servlet-name>
        <servlet-class>controller.ListHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.Admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>controller.Admin.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSingleController</servlet-name>
        <servlet-class>controller.BlogSingleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonController</servlet-name>
        <servlet-class>controller.LessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.Admin.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.Admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassListController</servlet-name>
        <servlet-class>controller.ClassListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetailController</servlet-name>
        <servlet-class>controller.ClassDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassController</servlet-name>
        <servlet-class>controller.AddClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClassController</servlet-name>
        <servlet-class>controller.EditClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubjectController</servlet-name>
        <servlet-class>controller.NewSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.Admin.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
        <init-param>
            <param-name>expiry</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SubjectLessonController</servlet-name>
        <servlet-class>controller.Admin.SubjectLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListController</servlet-name>
        <servlet-class>controller.Admin.SubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetailController</servlet-name>
        <servlet-class>controller.Admin.LessonDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLessonDetailController</servlet-name>
        <servlet-class>controller.Admin.EditLessonDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLessonController</servlet-name>
        <servlet-class>controller.Admin.AddLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>controller.Admin.AddPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatus</servlet-name>
        <servlet-class>controller.Admin.changeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonViewController</servlet-name>
        <servlet-class>controller.LessonViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonViewDetailController</servlet-name>
        <servlet-class>controller.LessonViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationListController</servlet-name>
        <servlet-class>controller.Admin.RegistrationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCourseController</servlet-name>
        <servlet-class>controller.MyCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfilePictureController</servlet-name>
        <servlet-class>controller.ChangeProfilePictureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlidersListController</servlet-name>
        <servlet-class>controller.Admin.Slider.SlidersListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetailsController</servlet-name>
        <servlet-class>controller.Admin.Class.ClassDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PieChartController</servlet-name>
        <servlet-class>controller.Admin.DasBoard.PieChartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSettingController</servlet-name>
        <url-pattern>/admin/setting/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSettingController</servlet-name>
        <url-pattern>/admin/setting/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/admin/post/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/admin/post/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailController</servlet-name>
        <url-pattern>/admin/post/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListController</servlet-name>
        <url-pattern>/admin/post/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/admin/user/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/admin/user/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/admin/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/admin/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailsController</servlet-name>
        <url-pattern>/admin/setting/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListController</servlet-name>
        <url-pattern>/admin/subject/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListHomeController</servlet-name>
        <url-pattern>/list_home_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>list_home_controller</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSingleController</servlet-name>
        <url-pattern>/blog_single_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/blog_list_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonController</servlet-name>
        <url-pattern>/LessonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassListController</servlet-name>
        <url-pattern>/ClassListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetailController</servlet-name>
        <url-pattern>/ClassDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassController</servlet-name>
        <url-pattern>/AddClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClassController</servlet-name>
        <url-pattern>/EditClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubjectController</servlet-name>
        <url-pattern>/NewSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetpw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationListController</servlet-name>
        <url-pattern>/admin/registration_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCourseController</servlet-name>
        <url-pattern>/my_course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfilePictureController</servlet-name>
        <url-pattern>/changepfp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectLessonController</servlet-name>
        <url-pattern>/SubjectLessonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/SettingListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonDetailController</servlet-name>
        <url-pattern>/LessonDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLessonDetailController</servlet-name>
        <url-pattern>/EditLessonDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLessonController</servlet-name>
        <url-pattern>/AddLessonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatus</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonViewController</servlet-name>
        <url-pattern>/LessonViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonViewDetailController</servlet-name>
        <url-pattern>/LessonViewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
    <servlet-mapping>
        <servlet-name>SlidersListController</servlet-name>
        <url-pattern>/sliders_list_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetailsController</servlet-name>
        <url-pattern>/class_detail_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PieChartController</servlet-name>
        <url-pattern>/pie_chart_controller</url-pattern>
    </servlet-mapping>
    <dependency>
        <groupId>javax.servlet</groupId>
        <artifactId>jsp-api</artifactId>
        <version>2.0</version>
        <scope>provided</scope>
    </dependency>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
