
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);


.search_box input {
    background: #F0F0E9;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 155px;
    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: 130px;
}
.hline{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.vertical{

    border-left: 1px solid #ccc;
    height: 1370px;
    position: absolute;
    margin-left: -5px;
    top: 0;

}
/*************************
*******Footer CSS******
**************************/

#footer {
    background: #F0F0E9;
}


.footer-top .container {
    border-bottom: 1px solid #E0E0DA;
    padding-bottom: 20px;
}

.companyinfo {
    margin-top: 57px;
}

.companyinfo h2 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 27px;
    text-transform: uppercase;
}

.companyinfo h2  span{
    color:#FE980F;
}

.companyinfo p {
    color: #B3B3AD;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer-top .col-sm-3{
    overflow: hidden;
}

.video-gallery {
    margin-top: 57px;
    position: inherit;
}

.video-gallery a img {
    height: 100%;
    width: 100%;
}

.iframe-img {
    position: relative;
    display: block;
    height: 61px;
    margin-bottom: 10px;
    border: 2px solid #CCCCC6;
    border-radius: 3px;
}

.overlay-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 61px;
    background: #FE980F;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.video-gallery a:hover .overlay-icon{
    opacity: 1;
}

.video-gallery p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom:0px;
}

.video-gallery  h2 {
    color: #8c8c88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform:uppercase;
    margin-top:0px;
}


.address {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
.address  img {
    width:100%;
}

.address p {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 50px;
}

.footer-widget {
    margin-bottom: 68px;
}

.footer-widget .container {
    border-top: 1px solid #FFFFFF;
    padding-top: 15px;
}

.single-widget h2 {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.single-widget h2 i{
    margin-right:15px;
}

.single-widget ul li a{
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}

.single-widget ul li a i {
    margin-right: 18px;
}

.single-widget ul li a:hover{
    background:none;
    color:#FE980F;
}


.footer-bottom {
    background: #D6D6D0;
    padding-top: 10px;
}

.footer-bottom p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.footer-bottom p span a {
    color: #FE980F;
    font-style: italic;
    text-decoration: underline;
}



h2.title:before{
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}



.padding-right {
    padding-right: 0;
}

.features_items{
    overflow:hidden;
    padding-top: 20px;
    padding-right: 30px;
}


h2.title {
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.product-image-wrapper{
    border:1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom:30px;
}

.single-products {
    position: relative;
}

.productinfo h2{
    color: #FE980F;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.product-overlay h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}


.productinfo p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.productinfo img{
    width: 100%;
    height: 120px;
    width: 120px;
    margin-top: 20px;
}

.productinfo{
    position:relative;
}

.product-overlay {
    background:#FE980F;
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
    opacity:;
}

.single-products:hover .product-overlay {
    display:block;
    height:100%;
}

.btn.btn-primary {
    background:#FE980F;
    border: 0 none;
    border-radius: 0;
    margin-top: 16px;
}

.feature{
    padding-top: 30px;
    padding-right: 30px;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #90C9DC;
}

.pagination a.active {
    background-color: orange;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.form-inline{
    padding-top: 40px;
}

.title{
    color: black;
}